version: '3.8'

services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - ./index.html:/app/index.html
      - ./vite.config.mjs:/app/vite.config.mjs
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm start -- --host --no-open
